.main {
    display: flex;
    flex-direction: column;
}
.main .home {
    /* centrar verticalmente */
    position: absolute;
    left: 50%;
    top: 50%;
    /* To truly center a div, you need to define one last property, known as the CSS transform property. 
    While there are nine different transformation methods (and this is not even including 3D transforms), 
    you want to use the translate() method to move the div along the X- and the Y-axis. Specifically, 
    you want to move the div 50% to the left and up from its current position. That will tell the browser 
    to put the center of the div in the center of the page.*/
    transform: translate(-50%, -70%);
    /* centrar horizontalmente */
    margin: auto;
    width: 35%; 
}

.main .home-posicionada {
    display: flex;
    width: 53.5%;
    transform: translate(-0%, -20%);
}

.main .titulo {
    font-family: Montserrat;
    color:#005b95;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main .titulo-lateral {
    text-align: left;
    font-family: Montserrat;
    color: black 87%;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    
}

.main .botao-novo {
    margin-left: 20px;
    height: 40px;
    margin-top: 8px;
    width: 100px;
    border-radius: 0px;
}

.main .subtitulo {
    font-family: Montserrat;
    color:  rgba(0,0,0, .87);
    font-size: 14px;
    font-weight: bold;
    margin-top: 50px;
}

.main .box-inferior {
    display: flex;
    width: 100%;
}

.main .parteInferior {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main .lista {
    width: 81%;
    padding: 10px;
}

.main .lista-ajustada {
    width: 100%;
    margin-left: 112px;
    margin-right: 20px;
}

.main .infoLateral {
    width: 100%;
}



