.adicionar {
    font-family: Montserrat;
    color: white;
    height: 28px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    margin-left: 20px;
    margin-top: 34px;
}

.salvar {
    font-family: Montserrat;
    height: 28px;
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
}