.caixa {

}

.caixa .linha1 {
    padding: 10px;
}

.caixa .linha1 .pai{
    display: flex;
}

.caixa .linha1 .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caixa .linha2 {
    padding: 10px;
}

.caixa .linha3{
    padding: 10px;
}

.caixa .imagem {
    margin-right: 20px;
}

.caixa .head {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: black 54%;
    margin-bottom: 5px;
}

.caixa .corpoTexto {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: black 87%;
}

.caixa .grid-condicional{
    padding: 2px;
}
