.caixa .linha1 {
    padding: 10px;
}

.caixa .linha1 .pai{
    display: flex;
}

.caixa .linha1 .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caixa .linha1 .assunto {
    margin-top: 10px;
}

.caixa .linha2 {
    padding: 10px;
}

.caixa .linha3{
    padding: 10px;
}

.caixa .imagem {
    margin-right: 20px;
}

.caixa .head {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: black 54%;
    margin-bottom: 5px;
}

.caixa .corpoTexto {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    color: black 87%;
}

.caixa .grid-condicional{
    padding: 1px;
}

.linha4 {
    display: flex;
    justify-content: flex-end;
    
}

.linha4 .botao-remover {
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 0px;
    margin-right: 10px;
    width: 100px;
    margin-bottom: 10px;
}

.linha4 .botao-editar {
    font-family: Montserrat;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 0px;
    width: 100px;
    margin-bottom: 10px;
}

